h1,
h2,
h3,
h4,
h5,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Montserrat-700;
  src: url("/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat-600;
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat-500;
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat-400;
  src: url("/fonts/Montserrat-Regular.ttf");
}
body {
  font-family: "Montserrat-400", "Montserrat-500", "Montserrat-600", "Montserrat-700", sans-serif;
  font-size: 16px;
}

.container {
  width: 1110px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header-wrap {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  height: 670px;
  margin-bottom: 110px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.menu-item {
  position: relative;
}

.menu-item-link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.current {
  color: #ffffff;
}
.current::after {
  content: "";
  background-color: #ffffff;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  color: #ffffff;
}

.hero-content {
  padding-top: 110px;
}

.hero-text {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero-title {
  font-family: "Montserrat-700", sans-serif;
  max-width: 829px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.hero-btn {
  display: block;
  padding: 15px 36px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  width: 200px;
  margin: 0 auto;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}

.services-title {
  font-family: "Montserrat-700", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #323232;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 739px;
}

.services-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #999999;
  width: 730px;
  margin: 0 auto;
  margin-bottom: 70px;
}

.services-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 55px;
}

.services-item-subtitle {
  font-family: "Montserrat-600", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}

.services-item-text {
  font-size: 14px;
  line-height: 1.57;
  color: #999999;
  width: 222px;
}

.services-btn {
  font-family: "Montserrat-500", sans-serif;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  width: 200px;
  padding: 15px 36px;
  margin: 0 auto;
  background-color: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}/*# sourceMappingURL=main.css.map */