// .hero {
//   background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/hero-bg.jpg");
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-position: center;
// }

.hero-content {
  padding-top: 220px;
  padding-bottom: 335px;
}
.hero-text {
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
}

.hero-title {
  max-width: 829px;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.33;
  color: #ffffff;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}

.hero-btn {
  display: block;
  padding: 15px 36px;

  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  width: 200px;
  margin: 0 auto;
  background: #4985ff;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
}
